@import "tailwindcss";

/* iOS safe-area 지원 */
:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html,
body {
  height: 100%;
}

/* 모바일에서 튕김/드래그 감성 조절 */
body {
  overscroll-behavior-y: none;
  font-family:
    "Pretendard",
    "Pretendard Variable",
    var(--font-noto-sans-kr),
    -apple-system,
    BlinkMacSystemFont,
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    "Segoe UI",
    sans-serif;
}

input.search-input-no-native-clear::-webkit-search-decoration,
input.search-input-no-native-clear::-webkit-search-cancel-button,
input.search-input-no-native-clear::-webkit-search-results-button,
input.search-input-no-native-clear::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input.search-input-no-native-clear::-ms-clear,
input.search-input-no-native-clear::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

@theme {
  --color-dg-green-50: #ebfceb;
  --color-dg-green-100: #d8f9d6;
  --color-dg-green-200: #bbf5b8;
  --color-dg-green-300: #94f08f;
  --color-dg-green-400: #63e95c;
  --color-dg-green-500: #0bdc00;
  --color-dg-green-600: #09b400;
  --color-dg-green-700: #079100;
  --color-dg-green-800: #066e00;
  --color-dg-green-900: #044f00;
  --color-dg-black: #2c2c2c;
  --color-dg-gray-400: #ededed;
  --color-dg-gray-500: #cecece;
  --color-dg-gray-600: #979797;
  --color-dg-white: #ededed;
  --color-green-sub: #0ad000;
  --color-dg-orange-100: #fff1e1;
  --color-dg-orange-200: #ffe1cb;
  --color-dg-orange-300: #ffc299;
  --color-dg-orange-400: #ffa163;
  --color-dg-orange-500: #ff8a3d;
  --color-dg-orange-600: #ff7418;
  --color-dg-orange-700: #ff6a06;
  --color-dg-orange-800: #e45900;
  --color-dg-orange-900: #cc4e00;
  --color-dg-blue-100: #e1f7ff;
  --color-dg-blue-200: #caeaff;
  --color-dg-blue-300: #98d3ff;
  --color-dg-blue-400: #62baff;
  --color-dg-blue-500: #3ba7ff;
  --color-dg-blue-600: #1897ff;
  --color-dg-blue-700: #0091ff;
  --color-dg-blue-800: #007de5;
  --color-dg-blue-900: #006fce;
  --shadow-drop: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
